body{
    background-color: rgba(1, 20, 187, 0.316);
}

h1{

    color:blue;
    background-color: cornsilk;
}

#show_sketch
{
    float:right;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    animation-name: shadowAnimation;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes shadowAnimation {

    from {box-shadow: 5px 5px 40px rgba(0, 212, 46, 0.506);}
    to {box-shadow: 5px 5px 40px rgba(5, 91, 183, 0.399);}
}

p
{
    padding-top:10px;
    font-size:25px;

}

